<ul>
    <li *ngFor="let sop of sops"><button class="btn" (click)="insertSOP(sop.id)">{{sop.num}} {{sop.title}} Rev {{sop.rev}}</button></li>
</ul>
<div><h3>Test 1: {{test1}}</h3></div>
<div><h3>Test 2: {{test2}}</h3></div>
<form [formGroup]="sopForm" (ngSubmit)="onSubmit(sopForm.value)">
    <div>
        <label for="num">Number</label>
        <input id="num" type="text" formControlName="num">
    </div>
    <div>
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title">
    </div>
    <div>
        <label for="rev">Rev</label>
        <input id="rev" type="text" formControlName="rev">
    </div>
    <button class="btn btn-primary" type="submit">Add SOP</button>
</form>
<br>
<form>
    <div>
        <label>SOP File</label>
        <input (change)="uploadListener($event)" accept=".csv" #csvReader type="file" name="Upload CSV" id="csv-upload">
    </div>
    <button class="btn btn-primary" type="submit">Load SOPS</button>
</form>

<div class="container">
  <button class="btn btn-primary" (click)="addSOP()" #addSOPButton>Add Selected SOP</button>
</div>
